.checkproduct{
    display: flex;
    margin-top:20px ;
    margin-bottom: 20px;
}
.checkproduct_info{
    padding-left: 20px;
}
.checkproduct_info> button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111
}
.checkproduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkproduct_rating{
    display: flex;
}