.checkout {
  display: flex;
  padding: 20px;
  background-color: rgb(243, 240, 245);
  height: max-content;
}
.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(233, 22, 22);
}
